/* Estilos generales */
body {
    margin: 0;
    padding: 0;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  nav {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 768px) {
    nav ul {
      display: none;
    }
  
    nav .menu-icon {
      cursor: pointer;
      color: #fff;
      font-size: 20px;
    }
  
    nav .menu-icon:hover {
      color: #aaa;
    }
  
    nav .menu-icon i {
      pointer-events: none;
    }
  
    nav.active ul {
      display: flex;
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
    }
  
    nav.active ul li {
      margin: 10px;
    }

      /* text-decoration: none; */
    
  }
  